<div *ngIf="isPopupOpen" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-50">
  <div class="bg-white p-6 rounded-lg shadow-xl">
    <div class="flex justify-center">
      <div class="modal bg-gray-100 p-4 m-2 rounded">
        <form #taskForm (submit)="addTask()">

          <div class="">
            <input class="p-1 m-1" type="text" name="taskName" [(ngModel)]="newTask.taskName" placeholder="Task Name" required>
          </div>

          <div class="">
            <input class="p-1 m-1" type="number" name="status" [(ngModel)]="newTask.status" placeholder="Status" required>
          </div>

          <div class="">

            <button class="px-4 py-1 m-2 bg-gray-500 hover:bg-gray-600 text-white font-bold rounded-lg shadow-md" type="submit">




          </button>
          </div>

        </form>
        <button class="" (click)="closePopup()">cancel</button>
      </div>
    </div>
  </div>
</div>
