
<div class="bg-gray-100">
  <div class="container mx-auto  min-h-svh p-4 ">
    <div class="">
      <h1 class="text-3xl px-4 p-2 bg-emerald-400 text-gray-100">Task Board</h1>
    </div>
    <div class="bg-emerald-200 p-8">
      <div class="flex justify-center w-full flex-wrap">

        <div class="p-4 w-3/12">
          <app-task-type [tasks]="tasks"  color="boxColor1" title="title1"></app-task-type>
        </div>

        <div class="p-4 w-3/12">
          <app-task-type [tasks]="tasks"  color="boxColor2" title="title2"></app-task-type>
        </div>

        <div class="p-4 w-3/12">
          <app-task-type [tasks]="tasks"  color="boxColor3" title="title3"></app-task-type>
        </div>

        <div class="p-4 w-3/12">
          <app-task-type [tasks]="tasks"  color="boxColor4" title="title4"></app-task-type>
        </div>

      </div>
    </div>
  </div>
</div>
















